absl-py==0.7.1
astor==0.7.1
certifi==2019.3.9
Click==7.0
Flask==1.0.2
gast==0.2.2
google-pasta==0.1.4
grpcio==1.19.0
gunicorn==19.9.0
h5py==2.8.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.0.1
numpy==1.15.1
protobuf==3.7.0
PyYAML==5.1
scipy==1.2.1
six==1.11.0
tb-nightly==1.14.0a20190319
tensorflow-estimator-2.0-preview==1.14.0.dev2019032200
tensorflow-hub==0.3.0
tensorflowjs==1.0.1
termcolor==1.1.0
tf-nightly-2.0-preview==2.0.0.dev20190322
Werkzeug==0.15.1
